.root {
  margin-top: 2em;
  border: 0.1em solid grey;
  padding: 1em;

  .digits-remaining, .error, .success {
    vertical-align: bottom;
    padding-left: 0.2em;
  }

  .remove, .success {
    padding: 0 0 0 0.2em;
  }

  .success {
    width: 1.5em;
    height: 1.35em;
    display: inline-block;
    vertical-align: bottom;
  }

  .remove {
    width: 2em;
    height: 1.7em;
    background: none;
    vertical-align: bottom;
  }
}

.status-bar {
  margin-top: 1em;

  .message {
    padding-left: 0.5em;
    vertical-align: top;
    padding-top: 0.3em;
    display: inline-block;
  }
}
