.root {
  margin-top: 2em;
  border: 0.1em solid grey;
  padding: 1em;

  .digits-remaining, .error, .success {
    vertical-align: bottom;
    padding-left: 0.2em;
  }

  .success {
    color: green;
    font-weight: bold;
    font-size: 1em;
  }

  .remove {
    width: 2em;
    height: 2em;
    background: none;
    padding: 0 0 0 0.2em;
    vertical-align: bottom;
  }
}
